body {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
  color: #AAAAAA;
}

h1 {
  color: white;
}

.gameWindow {
  width: 402px; height: 669px; margin: auto;
  border: 1px solid #555555;
  padding: 0px;
}

.content-row {
  width: 90%;
  margin: 100px auto;
}
